body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
    
}
#input{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
input[type="text"] {
    padding: 5px;
    width: 300px;
}
button {
    padding: 5px 10px;
}
output{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}